.hover-comment {
	position: relative;
	display: inline-block;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-style: dashed;
}

.hover-comment:hover::after {
    content: attr(data-title); /* do not remove */
    position: absolute;
    bottom: 125%;
    background: #333;
	left: 50%;
	transform: translateX(-50%);
    padding: 5px 8px;
	display: inline-block;
	width: max-content;
	max-width: 32ch;
	min-width: unset;
	word-wrap: break-word;
    white-space: normal;
    font-size: .75em;
    z-index: 100;
  }

.hover-comment[title]:hover::before {
    content: '';
    position: absolute;
    bottom: 115%;
    left: 50%;
	transform: translateX(-50%);
    z-index: 99;
  }
